.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.innerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  height: 500px;
  width: 70%;
}
